nav{
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-bottom: 19px!important;
}
:host-context(.light) nav{
  background-color: var(--l-element)!important;
}
:host-context(.dark) nav{
  background-color: var(--d-element)!important;
}
:host-context(.dark) .navbar-brand{
  color: var(--d-text);
}
:host-context(.light) .navbar-brand{
  color: var(--l-text);
}
.theme-swicher{
  cursor: pointer;
}