<div class="container">
  <br><br><br><br><br>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-sm btn-outline-info app" (click)="goBack()">
        <i class='fa fa-chevron-left'> </i>
        Back
      </button>
    </div>
    <br> <br> <br>
  </div>
  <div class="row">
    <img class="img-thumbnails img-fluid col-md-6" [src]="selectedData?.flag" [alt]="selectedData?.altSpellings">
    <div class="country-details col-md-6  app" [ngStyle]="detailStyles()">
      <h1>{{selectedData?.name}}</h1> <br>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Native Name:</strong>  {{selectedData?.nativeName}}</p>
          <p><strong>Population:</strong> {{selectedData?.population}} </p>
          <p><strong>Region:</strong> {{selectedData?.region}}</p>
          <p><strong>Sub Region:</strong> {{selectedData?.subregion}}</p>
          <p><strong>Capital:</strong> {{selectedData?.capital}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Top Level Domain:</strong> {{selectedData?.topLevelDomain}}</p>
          <p><strong>Currencies:</strong> {{selectedData?.currencies[0].name}}
            {{selectedData?.currencies[0].code}}
            {{selectedData?.currencies[0].symbol}}
          </p>
          <p><strong>Languages:</strong>
            <span [ngStyle]="borderStyle()">{{selectedData?.languages[0].name}}</span>
            <span [ngStyle]="borderStyle()">{{selectedData?.languages[0].nativeName}}</span>
            <span [ngStyle]="borderStyle()">{{selectedData?.languages[0].iso639_1}}</span>
            <span [ngStyle]="borderStyle()">{{selectedData?.languages[0].iso639_2}}</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" >
          <br> <br>
          <strong>Border Countries: </strong>
          <span [hidden]="!selectedData.borders" [ngStyle]="borderStyle()">
            {{selectedData.borders}}</span>
        </div>
      </div>
    </div>
  </div>
</div>