<br><br><br><br>
  <div class="row">
    <div class="col-lg-9 col-sm-5 col-xs-4" >
      <input type='text' [(ngModel)]="listSearch" name="listSearch"
        class="form-control shadow" placeholder="Search By Country" />
    </div>
    <div class="col-lg-2 col-sm-4 col-xs-3  mt-3 mt-md-auto dropdown shadow">
      <div class="dropdown-label" (click)="toggleOption()">
        <span>Filter by Region </span>
        <i class="fa fa-chevron-down"></i>
      </div>
      <ul *ngIf="showOptions" class="dropdown-options">
        <li (click)="performFilter(regionFilter='Africa')">Africa</li>
        <li (click)="performFilter(regionFilter='Americas')">Americas</li>
        <li (click)="performFilter(regionFilter='Asia')">Asia</li>
        <li (click)="performFilter(regionFilter='Europe')">Europe</li>
        <li (click)="performFilter(regionFilter='polar')"> Polar</li>
      </ul>
    </div>
  </div>


  <main>
    <div class="card shadow" *ngFor= "let countryData of filteredCountry" [routerLink]="['/country', countryData.name]">
      <img [src]="countryData?.flag" alt="{{countryData?.altSpellings}}" class="img-fluid" [ngStyle]="getImgStyles()">
      <div class="card-body">
        <h4 class="card-title">{{countryData?.name}}</h4>
        <ul class="list-group list-group-flush" style="list-style-type: none;">
          <li class="">
            <span><strong>Population:</strong> {{countryData?.population | number }}</span>
          </li>
          <li class="">
            <span> <strong>Region:</strong> {{countryData?.region}}</span>
          </li>
          <li class="">
            <span><strong>Capital:</strong> {{ countryData?.capital}}</span>
          </li>
        </ul>
      </div>
    </div>
    <p></p>
  </main>