
main{
  margin: 18px 28px 20px 0;
  display:flex;
  flex-wrap: wrap;
  /* background-color: black; */
  }
.card{
  width: 18rem;
  padding: 18px;
  margin: 10px 18px 18px 0;
  /* background-color: hsl(207, 26%, 17%);
  color: white; */
}
:host-context(.light) .card{
  background-color: var(--l-bg);
}
:host-context(.dark) .card{
  background-color: var(--d-bg);
}
